

:root{
    --main-color:rgb(255, 252, 245);
    --second-color: rgb(255, 251, 235);
    --alt-color: rgb(255, 251, 235);
    --grey-background-color: rgb(178, 185, 178);
    --select-grey-background-color: rgb(148, 152, 148);

    --bright-color: rgb(70, 153, 69);
    --highlight-color: rgb(73, 177, 140);

    --text-color-main: rgb(52, 47, 49);
    --text-color-alt: rgb(67, 65, 65);

    --thin-line-color: rgb(180, 180, 180);

    --dark-outline: rgb(41, 41, 40);
    --soft-outline: rgb(120, 120, 116);

    --neon-aqua: rgb(0, 255, 190);
    --neon-aqua-dark: rgb(0, 191, 142);
    --neon-magenta-soft: rgba(255, 0, 249, 0.3);
    --pastel-magenta: rgb(248, 204, 255);
    --magenta: rgb(212, 89, 231);
    --neon-blue-soft: rgb(122, 206, 255);
    --pastel-blue: rgb(175, 202, 233);
    --blue: rgb(89, 179, 231);
  }


  /* --main-color:rgb(221, 232, 221);
  --second-color: rgb(131, 190, 143);
  --alt-color: rgb(175, 218, 186);
  --grey-background-color: rgb(178, 185, 178);
  --select-grey-background-color: rgb(148, 152, 148);

  --bright-color: rgb(70, 153, 69);
  --highlight-color: rgb(73, 177, 140);

  --text-color-main: rgb(52, 47, 49);
  --text-color-alt: rgb(67, 65, 65);

  --thin-line-color: rgb(180, 180, 180); */