body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  background-color: rgb(22, 150, 5);
  min-width: auto;
  right: 0;
  left: 0;
}

.uploadbutton {
  height: 10%;
  width: 20%;
}

.AudioList {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  right: 0;
  /* overflow: hidden; */
  background-color: rgb(223, 187, 29)
}