@import '../colors.css';
/* 
.upload-area {
    background-color: rgb(235, 77, 4);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: auto;
    width: 50%;
    height: 30%;
    text-align: center;
} */

.audio-display {
    position: absolute;
    background-color: var(--second-color);
    width: 70%;
    height: 60%;
    left: 0;
    margin: 20px;
    text-align: center
}
/* 
.select-audio-container {
    position: absolute;
    width: 20%;
    margin: 20px;
    right: 0px;
    top: 0px;
    bottom: 50px;

    background-color: var(--grey-background-color)
} */

/* .audio-select {
    margin: 5px 5px;
    height: max-content;
    display: block;
    background-color: var(--highlight-color);
} */

/* .audio-select-file {
    padding: 5px 0px;
    display: block;
    float: none;
    height: max-content;
    background-color: var(--grey-background-color);
}

.audio-select-file:hover { 
    background-color: var(--main-color);
}

.audio-select-file-selected {
    padding: 5px 0px;
    display: block;
    float: none;
    height: max-content;
    background-color: var(--select-grey-background-color);
}

.select-audio-title {
    margin: 0px 5px;
    pointer-events: none;
} */

#waveform-info {
    float: bottom;
    bottom: 10px;
}