@import '../colors.css';

.analyse-audio-container {
    display: inline-block;
    overflow-y: overlay;
    overflow-x: hidden;
    position: relative;

    height: 100%;
    width: 60%;
    margin-left: 10px;

    text-align: center;

    background-color: var(--main-color);
    border-style: solid;
    border-color: var(--dark-outline);
    border-width: 3px;
    border-radius: 10px;
}

#waveform-info {
    float: bottom;
    bottom: 10px;
}

.wavesurfer-container {
    margin: 10px;
    width: calc(100%-20px);
    position: relative;
}
