@import '../colors.css';

.drop-down {
    display: inline-block;
}

.drop-down-header {
    padding: 5px 0px 0px 10px;
    height: 35px;
    width: 100%;
    background-color: var(--main-color);
    display: block;

    border-radius: 5px;
    border: solid 1px transparent;
}

.drop-down-option {
    padding: 5px 0px 0px 10px;
    visibility: hidden;
    height: 0px;
    width: 100%;
    background-color: var(--main-color);
    position: absolute;
    transition: height .15s ease, background-color .15s ease, border 0.15s ease;
    display: block;
    border: solid 1px transparent;
}

.drop-down:hover .drop-down-option {
    height: 35px;
    visibility: visible;
    position: relative;
}

.drop-down:hover .drop-down-header {
    border-radius: 5px 5px 0px 0px;
}

.drop-down-option:hover {
    background-color: var(--light-grey);
    cursor: pointer;
}