@import '../colors.css';

.temp-object-data-panel {
    background-color: var(--main-color);
    position: absolute;
    display: inline-block;

    margin: 0px 0px 0px 10px;
    padding: 5px 0px 5px 0px;
    text-align: left;

    border-style: solid;
    border-color: var(--dark-outline);
    border-width: 3px;
    border-radius: 10px;

    width: 100%;
}

.temp-data-panel-key {
    display: inline-block;

    left: 0;
    padding: 5px;

    width: 50%;
    height: 100%;
}

.temp-data-panel-value {
    display: inline-block;
    position: absolute;
    background-color: var(--main-color);
    border: none;

    width: 50%;
    height: 35px;
    right: 0;

    padding: 3px;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}
::-webkit-color-swatch {
    border-radius: 5px;
    /* flex-grow: 0; */
    flex-shrink: 0;
}