@import '../colors.css';

.object-data-panel {
    display: inline-block;
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 12px 20px;
    position: absolute;
    left: 0;
    text-align: left;

    background-color: var(--pastel-magenta);
    border-radius: 0 5px 5px 0;
    border: solid var(--neon-magenta);
    border-width: 2px 2px 2px 0;

    width: calc(100%-20px);
}

.data-panel-property {
    display: inline-block;
    width: 100%;
    height: 35px;

    margin-bottom: 5px;

    background-color: var(--magenta-pastel);
    position: relative;
}

.data-panel-key {
    left: 0;
    float: left;
    padding: 5px;
    width: 30%;
    height: 100%;
}

.data-panel-value {
    display: inline-block;
    position: absolute;
    left: 30%;

    padding-bottom: -1px;
    width: 70%;
    height: 99%;

    border-radius: 5px;

    background-color: var(--main-color);
}

.data-panel-input {
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
    height: 99%;
    width: 50%;
}

.data-panel-checkbox {
    background-color: var(--main-color);
    border: none;
    position: absolute;
}

.data-panel-update-button {
    position: absolute;
    right: 0;
    top: 0;

    font-size: 10px;
    font-weight: bold;
    margin: 0;
    border-radius: 0px 5px;
    border-style: none;
}