@import '../colors.css';

.object-data-panel {
    /* background-color: var(--alt-color); */

    margin: 10px 0px 10px 10px;
    text-align: left;

    width: calc(100%-20px);

}

.data-panel-property {
    display: inline-block;
    width: 100%;
    height: 40px;

    border-radius: 5px;

    margin-bottom: 5px;

    background-color: var(--alt-color);
    position: relative;
    /* overflow-y: hidden; */
}

.data-panel-key {
    /* position: absolute; */
    left: 0;
    float: left;
    padding: 5px;
    /* margin: 5px; */
    width: 30%;
    height: 100%;
}

.data-panel-value {
    display: inline-block;
    position: absolute;
    left: 30%;

    padding-bottom: -1px;
    width: 70%;
    height: 99%;

    border-radius: 5px;

    background-color: var(--main-color);
}

.data-panel-value-list {
    display: inline-block;
    position: absolute;
    left: 30%;
    overflow-y: overlay;

    width: 70%;
    /* height: calc(max-content - '100px'); */
    /* height: calc(200%); */
    height: 400%;
}

.data-panel-input {
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 5px;
    height: 99%;
    width: 50%;
}

.data-panel-checkbox {
    background-color: var(--main-color);
    border: none;
    position: absolute;

    height: 25px;
    width: 25px;
}

.data-panel-update-button {
    position: absolute;
    right: 0;
    top: 0;

    font-size: 10px;
    font-weight: bold;
    margin: 0;
    border-radius: 0px 5px;
    border-style: none;
    /* border-style: solid;
    border-width: 1px;
    border-color: var(--text-color-main) */
}