@import '../colors.css';

.process-audios-container {
    float: right;

}

.process-audios-button {
    background-color: var(--second-color);

    border: solid;
    border-width: 1px;
    border-color: var(--thin-line-color);

    color: var(--text-color-main);

    display: inline-block;
    margin-left: 10px;
}

.process-audios-button:hover {
    background-color: var(--bright-color);
}